@import "../../../styles/variable";

.Services{
  @media screen and (min-width: 1920px) {
    .container {
      max-width: 1416px;
    }
  }
  background-repeat: no-repeat;
  background-position:center top;
  padding-top: 190px;
  margin-top: -100px;
  font-family: 'Gotham', serif;

  .Services_info{
   p{
     font-weight: 325;
     font-size: 26px;
     line-height: 32px;
     color: #CDCFDF;
   }
    h2{
      font-weight: 700;
      font-size: 62px;
      line-height: 68px;
      color: $base-color;
    }
    span{
      font-family: 'Rubik', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #DDDDE2;
    }
    .Services_button{
      font-weight: 350;
      font-size: 16px;
      line-height: 19px;
      margin: 70px 0 80px 0;
      a{
        color: $base-color;
        padding: 14px 20px;
        background: #1E74EC;
      }
    }
  }
  .Services_cooperation{
    padding: 183px 0 64px 0;
    p{
      font-weight: 325;
      font-size: 26px;
      line-height: 32px;
      color: $blue-text;
    }
    h2{
      font-weight: 700;
      font-size: 62px;
      line-height: 68px;
      color: $main-text;
    }
  }
  .Services_carousel{
    .card-block{
      padding: 15px 65px 0 0;
      h5{
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: $blue-color;
        text-transform: uppercase;
      }
      span{
        font-weight: 325;
        font-size: 16px;
        line-height: 22px;
        color: #535670;
      }
    }
  }

}