@import "../../../styles/variable";
.Faq{
  font-family: 'Gotham';
  font-weight: 325;
  .Faq_content{
    padding: 110px 110px 135px 122px;
    @media screen and (max-width: 390px){
      padding: 0;
    }
    .Faq_title{
      p{
        font-size: 26px;
        line-height: 32px;
        color: $blue-text;
        @media screen and (max-width: 390px){
          font-size: 20px;
          line-height: 24px;
        }
      }
      h3{
        font-weight: 700;
        font-size: 62px;
        line-height: 68px;
        color: $main-text;
        padding-bottom: 64px;
        @media screen and (max-width: 390px){
          font-size: 30px;
          line-height: 32px;
        }
      }
    }
    .Faq_main {
      padding-bottom: 40px;
      @media screen and (max-width: 390px){
        flex-direction: row;

      }
      span{
        font-size: 26px;
        line-height: 32px;
        color: #535670;
        font-family: 'Gotham';
        @media screen and (max-width: 390px){
          font-weight: 350;
          font-size: 18px;
          line-height: 22px;
        }
      }
      p{
        font-size: 18px;
        line-height: 22px;
        color: #75788D;
        padding:12px 0 0 124px;
        @media screen and (max-width: 390px){
          padding-left: 25px;
          font-family: 'Rubik';
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
    button{
      background-color: transparent;
      text-align: right;
      :active{
        transform: rotate(-45deg);
      }

      @media screen and (max-width: 390px){
        width: 16.97px;
        height: 16.97px;
        padding-top: 10px;
      }
    }
  }

}