@import "../../../styles/variable";
.main {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  .main_block{
    padding-top: 9.375em;
    padding-bottom: 3.125em;
    line-height: 1.1;
    .main_title  {
      font-family: 'Gotham XNarrow';
      font-style: normal;
      font-weight: 350;
      font-size: 4.625em;
      letter-spacing: 0.02em;
      color: $base-color;
      margin-bottom: 0;
      @media screen and (max-width: 390px) {
        font-size: 2em;
      }
    }
    .main_sub {
      font-family: 'Gotham XNarrow';
      font-style: normal;
      font-weight: 350;
      color: $blue-color;
      font-size: 4.625em;
      letter-spacing: 0.02em;
      @media screen and (max-width: 390px){
        font-size: 2em;
      }
    }
    .main_subtext{
      padding-top: 1.5em;
      font-family: 'Gotham';
      font-style: normal;
      font-weight: 325;
      font-size: 1.25em;
      line-height: 28px;
      color: $nav-color;
      letter-spacing: 0.02em;
      max-width: 29.6875em;
      @media screen and (max-width: 390px) {
        font-size: 0.8em;
        max-width: 23.6875em;
      }
    }

  }
.btn{
  padding: 14px 20px;
  background-color: $blue-color;
  border-radius: 0em;
  @media screen and (max-width: 390px){
    width: 100%;
    border-radius:  0.5em;
    margin-bottom: 80px;
  }
}
  .benefits{
    padding: 196px 0 155px 0;
    font-family: 'Gotham';
    text-align: center;
    color: $base-color;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 390px){
      background-color: $main-text;
      margin: 0 -12px -25px -12px;
      padding: 35px 0 99px 0;
    }
    span{
      font-size:  4.25em;
      font-weight: 700;
      @media screen and (max-width: 390px){
        font-size:  3.5em;
        color: #DDDDE2;
      }
    }
    p{
      font-weight: 325;
      line-height: 2em;
      font-size: 1.625em;
      @media screen and (max-width: 390px){
        font-size: 1.25em;
        color: #DDDDE2;
        line-height: 24px;
      }
    }
    //@media (width: 390px) {
    //  width: 25%;
    //}
  }
}
