@import "../../../styles/variable";
.Career{
  @media screen and (min-width: 1920px) {
    .container {
      max-width: 1416px;
    }
  }
  background-repeat: no-repeat;
  background-position:center top;
  .Career_info{
    font-family: 'Gotham', sans-serif;
    padding: 130px 0 158px 0;
    h2{
      font-weight: 700;
      font-size: 62px;
      line-height: 68px;
      color: $base-color;
    }
    p{
      padding-top: 16px;
      font-family: 'Rubik', sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #DDDDE2;
      letter-spacing: 0.2px;
      padding-bottom: 75px;
    }
  }
  .career_description{
    padding: 180px 0 93px 125px;
    font-family: 'Gotham', sans-serif;
  }
  h3{
    font-weight: 700;
    font-size: 60px;
    line-height: 68px;
    color: $main-text;
    padding-bottom: 20px;
  }
  p{
    font-weight: 325;
    font-size: 20px;
    line-height: 28px;
    color: #535670;
  }
  .position{
    color: #535670;
    padding: 0 0 80px 125px;
    //padding-left: 125px;
    h4{
      font-size: 26px;
      line-height: 32px;
      font-weight: 325;
    }
    .position_description{
      padding: 60px 0 0 120px;
      h5{
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: $blue-text;
      }
      p{
        font-weight: 325;
        font-size: 16px;
        line-height: 20px;
        color: #989AA9;
      }
      ul li{
        font-weight: 325;
        font-size: 18px;
        line-height: 22px;
        list-style: outside;
      }
    }
  }
  .button{
    padding-top: 10px;
    width: 30px;
    height: 30px;
    background-color: inherit;
  }
  .Career_footer{
    background-repeat: no-repeat;
    background-position:center;
    padding-bottom: 180px;
  }
  .Career_footerMain{
    padding: 182px 0 504px;
    position: relative;
    p{
      color: #E6E8EF;
      font-weight: 325;
      font-size: 26px;
      line-height: 32px;
    }
    h3{
      font-weight: 700;
      font-size: 62px;
      line-height: 68px;
      color: $base-color;
    }
    span{
      font-size: 20px;
      line-height: 28px;
      font-weight: 325;
      color: $base-color;
    }
  }
}
//Responsive Web Design - Media Queries
@media screen and (max-width: 1440px){
  .Career .career_description{
    padding-top: 100px;
  }
  .Career h3{
    font-size: 50px;
  }
  .Career .Career_info h2{
    font-size: 50px;
  }
  .Career .Career_footer{
    margin-bottom: 100px;
  }
  .btn-lg, .btn-group-lg > .btn{
    font-size: 16px;
  }
  .Career .Career_info p{
    line-height: 22px;
    font-size: 16px;
  }
  .Career p{
    line-height: 22px;
    font-size: 16px;
  }
  .Career .position h4{
    font-size: 24px;
  }
  .Career .position .position_description ul li {
    font-size: 16px;
  }
  .Career .Career_footerMain span {
    line-height: 20px;
    font-size: 16px;
  }
  .Career .CareerForm .form-control {
    font-size: 14px;
  }
  .Career .CareerForm .button1{
    font-size: 14px;
  }
  .Career .CareerForm .col-form-label {
    line-height: 20px;
    font-size: 14px;
  }
  .Career .Career_footerMain p{
    font-size: 24px;
  }
  .Career .Career_footerMain h3{
    font-size: 50px;
    padding-bottom: 0;
  }
  }
@media screen and (max-width: 1320px){
  .Career .position .position_description {
    padding: 35px 0 0 80px;
  }
  .Career h3{
    font-size: 50px;
  }
  .Career .Career_footerMain h3{
    font-size: 50px;
  }
  }
@media screen and (max-width: 1140px){
  .Career .career_description{
    padding: 170px 0 60px 0;
  }
  .Career .position{
    padding: 0 0 65px 84px;
  }
  .Career .position .position_description {
    padding: 20px 0 0 50px;
  }
  .Career .CareerForm{
    padding: 64px 50px;
  }
  }
@media screen and (max-width: 991px){
  .Career .Career_footer{
    margin-top: -134px;
  }
  .Career .Career_info h2{
    font-size: 50px;
  }
  .Career .Career_info p{
    font-size: 14px;
    line-height: 20px;
  }
  .Career .career_description{
    //padding-top: 120px;
  }
  .Career .position{
    padding-left: 55px;
  }
  .Career .Career_footerMain{
    padding-top: 220px;
  }
  .Career .Career_footerMain h3{
    line-height: 50px;
  }
}
@media screen and (max-width: 720px){
  .Career .Career_info{
    padding-top: 230px;
  }
  .Career h3{
    font-size: 35px;
    padding-bottom: 0;
  }
  .Career .career_description{
    padding-top: 100px;
  }
  .Career p{
    font-size: 14px;
  }
  .Career .position h4{
    font-size: 20px;
  }
  .Career .position .position_description ul li{
    font-size: 14px;
  }
  .Career .position .position_description{
    padding: 10px 0 0 30px;
  }
  .Career .Career_footerMain p{
    font-size: 20px;
  }
  .Career .Career_footerMain h3{
    font-size: 35px;
  }

}
@media screen and (max-width: 540px){
  .Career .position{
    padding-left: 30px;
  }
}
@media screen and (max-width: 390px){
  .Career .career_description{
    padding-top: 20px;
  }
  .Career .Career_footerMain span {
    font-size: 14px;
  }
  .Career .Career_footerMain h3 {
    line-height: 41px;
  }
  .Career .Career_footer {
    margin-bottom: 147px;
  }
  }